<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>MJ</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/about'"> A propos </a>
      <a mat-button [routerLink]="'/citations'"> Citations </a>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/heroes'"> Heroes </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<app-messages></app-messages>

